# dependencies
/node_modules
/dist
/tsconfig.buildinfo
.tsbuildinfo

*.log

# testing
coverage

# misc
.DS_Store
*.pem

# local env files
.env
.env.*

.vscode

# vitepress
docs/.vitepress/cache
docs/.vitepress/dist
